<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="../../static/registration/css/registration.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../../static/main/img/logo.png" alt="">
        </div>
    </header>
    
    <main>
        <h1>Змінити пароль</h1>
        <form id="changePasswordForm" class="form-2">
            <div class="form-group">
                <input class="form-input" name="new_password" placeholder=" " type="password" required>
                <label class="form-label">Новий пароль</label>
            </div>
            <ul>
                <li><button type="button" id="changePasswordButton" class="head-button">Змінити пароль</button></li>
            </ul>
        </form>
        <div id="message"></div>
    </main>
    <footer>
        <p>&copy; 2024 Workers. Усі права захищено.</p>
    </footer>

    <script>
        document.getElementById('changePasswordButton').addEventListener('click', function() {
            var form = document.getElementById('changePasswordForm');
            var formData = new FormData(form);

            fetch('/change-password/', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var messageDiv = document.getElementById('message');
                if (data.message === 'Password changed successfully') {
                    messageDiv.innerHTML = 'Пароль змінено успішно!';
                } else {
                    messageDiv.innerHTML = 'Помилка при зміні пароля!';
                }
            });
        });
    </script>
</body>
</html>
